<clr-datagrid [(clrDgSingleSelected)]="pacienteSelecionado" [clDgRowSelection]="true">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-success-outline" (click)="onCreate()">
        <clr-icon shape="plus"></clr-icon> Adicionar</button>
      <button type="button" class="btn btn-sm btn-danger-outline" (click)="onDelete()" [disabled]="!pacienteSelecionado">
        <clr-icon shape="close"></clr-icon> Deletar</button>
      <button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" [disabled]="!pacienteSelecionado">
        <clr-icon shape="pencil"></clr-icon> Editar</button>
    </div>
  </clr-dg-action-bar>
  <clr-dg-placeholder>Pesquise um paciente</clr-dg-placeholder>
  <clr-dg-column>Nome</clr-dg-column>
  <clr-dg-column>CPF</clr-dg-column>
  <clr-dg-column>Telefone</clr-dg-column>
  <clr-dg-row *clrDgItems="let paciente of pacientes" [clrDgItem]="paciente">
    <clr-dg-cell>{{paciente.nome}}</clr-dg-cell>
    <clr-dg-cell>{{paciente.cpf | cpf}}</clr-dg-cell>
    <clr-dg-cell>{{paciente.telefone | telefone}}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="basic" [clrModalSize]="'lg'">
  <h3 class="modal-title">Adicinar um Paciente</h3>
  <div class="modal-body">
    <form [formGroup]="form">
      <section class="form-block" id="cadastro-paciente">
        <div class="form-group">
          <label for="nome">Nome do Paciente:</label>
          <input type="text" id="nome" formControlName="nome" placeholder="João Oliveira" size="47" maxlength="45">
        </div>
        <div class="form-group">
          <label for="cpf">CPF:</label>
          <input type="text" id="cpf" type="text" formControlName="cpf" placeholder="111.222.333-04" size="15" maxlength="14">
          <label for="nascimento">Nascimento:</label>
          <input type="date" formControlName="nascimento" type="date" id="nascimento" clrDate size="14">
        </div>
        <div class="form-group">
          <label>Sexo: </label>
          <div class="radio-inline">
            <input id="masculino" name="optSexo" type="radio">
            <label for="masculino">
              Masculino
            </label>
          </div>
          <div class="radio-inline">
            <input id="feminino" name="optSexo" type="radio">
            <label for="feminino">
              Feminino
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="telefone">Telefone:</label>
          <input type="text" id="telefone" formControlName="telefone" placeholder="(49)99999-9999" size="15" maxlength="14">
        </div>
        <div class="form-group">
          <label for="endereco">Endereço:</label>
          <input type="text" id="endereco" formControlName="endereco" placeholder="Rua Julio Rodrigues da Costa" size="47" maxlength="40">
        </div>
        <div class="form-group">
          <label for="cep">CEP:</label>
          <input type="text" id="cep" formControlName="cep" placeholder="88503-685" size="11" maxlength="9">
          <label for="numero" style="margin-left: 3.75rem">Número:</label>
          <input type="text" id="numero" formControlName="numero" placeholder="458" size="9" maxlength="8">
        </div>
        <div class="form-group">
          <label for="bairro">Bairro:</label>
          <input type="text" id="bairro" formControlName="bairro" placeholder="Brusque" size="47" maxlength="40">
        </div>
        <div class="form-group">
          <label for="cidade">Cidade:</label>
          <input type="text" id="cidade" formControlName="cidade" placeholder="Lages" size="22" maxlength="20">
          <label for="uf" style="margin-left: 3rem">UF:</label>
          <input type="text" id="uf" formControlName="uf" placeholder="SC" size="2" maxlength="2">
        </div>
      </section>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger-outline" (click)="basic = false">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="onSave()" [disabled]="!form.valid">Salvar</button>
  </div>
</clr-modal>