<form>

  <section class="form-block">
    <div class="form-group row">
      <div class="col-xs-12	col-sm-12	col-md-12	col-lg-10	col-xl-10">
        <label class="required" for="CPF">CPF do Paciente</label>
        <input type="text" id="CPF" class="search" placeholder="000.000.000-00" size="20">
        <button type="button" class="btn btn-icon btn-label">
          <clr-icon shape="search"></clr-icon>
          PESQUISAR
        </button>
      </div>
    </div>

  </section>

  <section class="form-block">
    <div class="form-group">
      <label for="aForm_1">Nome do Paciente</label>
      <input type="text" id="paciente_nome" placeholder="Enter value here" size="45">
    </div>
    <div class="form-group">
      <label for="aForm_2">RG</label>
      <input type="text" id="aForm_2" placeholder="Enter another value here" size="35">
    </div>
    <div class="form-group">
      <label for="aForm_3">A select box</label>
      <div class="select">
        <select id="aForm_3">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="aForm_4">Textarea</label>
      <textarea id="aForm_4" rows="5"></textarea>
    </div>
    <div>
      <button type="button" class="btn btn-icon btn-danger">
        <clr-icon shape="times"></clr-icon>
        Deletar
      </button>
      <button type="button" class="btn btn-icon btn-primary">
        <clr-icon shape="floppy"></clr-icon>
        Salvar
      </button>      
    </div>

  </section>


</form>