.header, header {
    height: 1.5rem !important;
}
header .header-nav .nav-link.nav-text {
    line-height: 1.5rem;    
}
form {
    padding-left: 2rem;
}
.form .form-group, form .form-group{
    padding-left: 6rem;    
}
