.logo{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 3%;   
}
.centralizado {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-modal {
    margin-left: 5rem;
}
.label-posicao {
    padding-top: 5px !important;
    margin-left: 10px !important;
}
.btn-label {
    margin-top: -4.1px !important;
}
button:focus { outline:0 !important; }
body {
    color: #565656;
    font-weight: 400;
    margin-top: 0!important;
}
body, h6 {
    font-family: Metropolis,Avenir Next,Helvetica Neue,Arial,sans-serif;
    font-size: .58333rem;
    letter-spacing: normal;
    line-height: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
}
.spinner.spinner-inline {
    vertical-align: text-bottom;
}
.spinner.spinner-inline, .spinner.spinner-sm {
    min-height: .75rem;
    min-width: .75rem;
    height: .75rem;
    width: .75rem;
}
.spinner {
    position: relative;
    display: inline-block;
    min-height: 3rem;
    min-width: 3rem;
    height: 3rem;
    width: 3rem;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    margin: 0;
    padding: 0;
    background: url(data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22Layer_2%22%20data-name%3D%…3%2C0%2C0%2C1%2C36%2C3%22%3E%0A%20%20%20%20%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A);
    text-indent: 100%;
    overflow: hidden;
}
.btn-primary:not(:disabled) {
    border-color: #58b8e8 !important;
    background-color: #58b8e8 !important;
    color: #fff;
}
.btn-label {
    border-color: #58b8e8 !important;
    color: #58b8e8 !important;
    transition: .2s;    
}
.btn-label:hover{
    background-color: #58b8e8 !important;
    color: #FFF !important;
}
.search { margin: 0 0.15rem 0 0.7rem !important; }

.form .form-group, form .form-group{ padding-left: 8rem !important; }

.tooltip-bottom{
    margin-bottom: -3.73333rem !important;
}
.tooltip-bottom{ 
    margin-bottom: -3.73333rem !important;
    border-bottom-left-radius: .125rem !important;
    border-top-left-radius: 0 !important;
}
.tooltip-bottom:before{     
    transform: scaleY(-1) !important;
    bottom: 2.225rem !important;
}