.btn {
    min-width: 112px;;
}
form .form-group>label:first-child {
    width: auto;
}
.datepicker { background-color: #000000; transform: translateX(438.922px) translateY(36px) !important; }


#cadastro-paciente{ padding-left: 4rem; }