<header class="header-4">
  <div class="branding">
    <a routerLink="/dashboard" class="nav-link">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">HeiHealth</span>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-text" clrDropdownTrigger>
        thiagopmartins@outlook.com
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a routerLink="/dashboard/minhaconta" clrDropdownItem>Minha Conta</a>
        <a routerLink="/login" clrDropdownItem>Sair</a>

      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <header class="header-6">
        <div class="header-nav">
          <a routerLink="/dashboard/paciente" class="active nav-link nav-text">{{ title }}</a>
        </div>
      </header>
      <div class="row flex-items-xs-center">
        <div id="painel" class="col-xs-11	col-sm-11	col-md-11	col-lg-10	col-xl-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink routerLink="./paciente" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="heart"></clr-icon>
        Pacientes
      </a>
      <a clrVerticalNavLink routerLink="./secretaria" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        Secretárias
      </a>
      <a clrVerticalNavLink routerLink="./diagnostico" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="helix"></clr-icon>
        Diagnósticos
      </a>      
    </clr-vertical-nav>
  </div>
</div>