.header.header-4, header.header-4 {
    background-color: #58b8e8 !important;
}
.header .branding .title, header .branding .title {
    font-size: 0.75rem !important;
    font-weight: 700 !important;
}

.clr-vertical-nav {
    width: 9rem;
    background-color: #F1F1F1;
}
.is-collapsed .nav-link.active, .is-collapsed .nav-link:hover {
    padding-left: 0.5rem !important;
}
.clr-vertical-nav .nav-link.active, .clr-vertical-nav .nav-link:hover {
    font-weight: 600;
    border-left: 0.2rem solid #58b8e8;
    padding-left: 0.8rem;
    color: #58b8e8;
}
.main-container:not([class*=open-overflow-menu]):not([class*=open-hamburger-menu]) .clr-vertical-nav.is-collapsed.has-icons .nav-link {
    padding-left: 0.7rem;
}
.main-container:not([class*=open-overflow-menu]):not([class*=open-hamburger-menu]) .clr-vertical-nav.is-collapsed .nav-icon {
    margin: 0;
    /* margin-left: .666667rem; */
}
.main-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #FFF;
}
.main-container .content-container .content-area {
    padding: 0;
    margin: 0rem 0.1rem 0.1rem 0.1rem;
}
.header-6 {
    height: 1.55rem !important;
    border-bottom: 1px solid #ccc !important;    
    background-color: #f1f1f1;
    color: #000 !important;
}
header .header-nav .nav-link.nav-text { line-height: 1.5rem; }
form { padding-left: 2rem; }
.header .header-nav .nav-link, header .header-nav .nav-link{ color: #000 !important; }
.titulo { font-weight: 800; }

#painel{ padding-top: 1rem; }