.logo{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 3%;   
}
.centralizado {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.label-posicao {
    padding-top: 5px !important;
    margin-left: 10px !important;
}
.btn-label {
    margin-top: -4.1px !important;
}
