<div class="flex-items-xs-center">
  <img class="logo" src="../assets/logo.png">
</div>
<form class="form centralizado" [formGroup]="employeeAddressForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
  <section class="form-block">
    <label>Registro de conta</label>
    <div class="form-group">
      <label for="email">Email</label>
      <label for="email" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="employeeAddressForm.get('email').invalid
                    && (employeeAddressForm.get('email').dirty || employeeAddressForm.get('email').touched)">
        <input id="email" type="email" formControlName="email" size="40" ngModel email="true">
        <span class="tooltip-content">
          Email é obrigatório!
        </span>
      </label>
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <label for="senha" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="employeeAddressForm.get('senha').invalid
                        && (employeeAddressForm.get('senha').dirty ||
                        employeeAddressForm.get('senha').touched)">
        <input id="senha" type="password" formControlName="senha" size="40">
        <span class="tooltip-content">
          Senha é obrigatória.
        </span>
      </label>
    </div>
    <div class="form-group">
        <label for="resenha">Redigite a senha</label>
        <label for="resenha" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="employeeAddressForm.get('resenha').invalid
                          && (employeeAddressForm.get('resenha').dirty ||
                          employeeAddressForm.get('resenha').touched)">
          <input id="resenha" type="password" formControlName="resenha" size="40">
          <span class="tooltip-content">
            Senha é obrigatória.
          </span>
        </label>
      </div>    
    <button class="btn btn-primary flex-items-xs-center" type="submit" [disabled]="employeeAddressForm.invalid">REGISTRAR</button>
    <a routerLink="/login" class="signup">Já possui uma conta?</a>
  </section>
</form>